/*  Character Card  */
.character-card {
    height: max-content;
    background-color: var(--first-color);
    color: var(--text-color);
    text-align: center;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: scale .3s ease-in-out;

    &:hover {
        scale: .9;
    }
}

.character-card img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem;
}   

/*      Pagination     */
.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container * {
    background: var(--second-color);
    padding: 1rem;
    border-radius: 1rem;
    border: medium solid var(--first-color);
    color: var(--text-color);
    margin: 1rem .25rem;
    cursor: pointer;

    &:hover {
        background-color: var(--second-color-dark);
    }
}