@import "./characters.css";

/*      Custom Properties       */
:root {
    --first-color: #444;
    --first-color-dark: #222;
    --first-color-light: #666;
    --second-color: blue;
    --second-color-dark: darkblue;
    --text-color: #ddd;
    --text-color-dark: #ccc;
    --font: "Raleway", sans-serif;

}

/*      Reset       */
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*      Utilities Classes       */
.grid-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

/*      Site Styles     */

/*  Header  */
.header {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    background-color: var(--first-color);
    color: var(--text-color);
    z-index: 999;
}

/*      SubHeader       */
.sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.sub-header .search {
    position: relative;
    display: flex;
    align-items: center;
}

.sub-header .search input {
    display: inline;
    padding: 1rem;
    font-size: 125%;
    border-radius: 1rem;
    transform: translateX(1000px);
    transition: all .3s ease-in-out;
}

.sub-header .search input.is-active {
    transform: translate(0);
}

.sub-header .search-button {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    width: 3.5rem;
    height: 3.6rem;
    background-color: var(--first-color);
    color: var(--text-color);
    padding: .5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: scale .3s ease-in-out;

    &:hover {
        scale: .95;
    }
}

.sub-header .search-button svg {
    fill: var(--text-color);
}

/*  Loader  */
.loader {
    display: block;
    width: 4rem;
    height: 4rem;
    margin: 1rem auto;
}

/*  Main Content    */
.main {
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
}