@import "./characters.css";

/*      Custom Properties       */
:root {
    --first-color: #444;
    --first-color-dark: #222;
    --first-color-light: #666;
    --text-color: #ddd;
    --text-color-dark: #ccc; 
    --font: "Raleway", sans-serif;
}

/*      Reset       */
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font);
}

body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*      Utilities Classes       */
.grid-fluid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
}

/*      Site Styles     */

/*  Header  */
.header {
    position: sticky;
    top: 0;
    left: 0;
    text-align: center;
    padding: 1rem;
    background-color: var(--first-color);
    color: var(--text-color);
    z-index: 999;
}

/*      Title       */
.title {
    text-align: left;
}

.search {
    text-align: right;
}

/*  Loader  */
.loader {
    width: 4rem;
    height: 4rem;
}

/*  Main Content    */
.main {
    max-width: 1200px;
    padding: 2rem;
    margin: auto;
}
